<html lang="en" ng-app="myApp">
<head>
    <title>Running Event App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <!--===============================================================================================-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>

    <script src="app.js"></script>
</head>
<body  ng-controller="ClaimMoney" data-ng-init="init()">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" ng-click="home()">Running Event App</a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="#" ng-click="Addform()">Add Record</a>
        </li>


    </ul>
    <a class="nav-link" href="#" ng-click="logout()">{{my.name}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <form id="signin" class="navbar-form navbar-right" role="form" ng-submit="login()">

            <div class="input-group">
					<span class="input-group-addon">

					</span>
                <input id="email" type="email" class="form-control" name="email" value="" placeholder="Email Address" ng-model="LoginUser">
            </div>

            <div class="input-group">
					<span class="input-group-addon">

					</span>
                <input id="password" type="password" class="form-control" name="password" value="" placeholder="Password" ng-model="LoginPass">
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</nav>
<!--add record function-->
<div class="ng-hide container-contact100 " ng-model='add_record' id="add_record"  >
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" ng-submit="adds()" >
            <input type="hidden" id="id" ng-model="adds.id">

            <span class="contact100-form-title">
					Add Record
				</span>

            <div class="wrap-input100 validate-input" >
                <span class="label-input100">Bib Number</span>
                <input class="input100" type="text" id="bib" ng-model="add.Bib" placeholder="Enter your Start Point">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" >
                <span class="label-input100">Location</span>
                <input class="input100" type="text" id="location" ng-model="add.Location" placeholder="Enter your Destination Point">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" >
                <span class="label-input100">Category</span>
                <input class="input100" type="text" id="category" ng-model="add.Category" placeholder="Transport Type ">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input">
                <span class="label-input100">Amount</span>
                <input class="input100" type="number" id="consumption" ng-model="add.Consumption" placeholder="Enter the price ">
                <span class="focus-input100"></span>
            </div>


            <div class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div>
                    <button class="contact100-form-btn" type="submit">
							<span>
								Submit
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--edit function-->
<div class="ng-hide container-contact100" ng-model='edit_form' id="edit_form"  >
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" ng-submit="Edit()" >
            <input type="hidden" id="id" ng-model="Edit.id">

            <span class="contact100-form-title">
							Edit Record
						</span>

            <div class="wrap-input100 validate-input" >
                <span class="label-input100">Date</span>
                <input class="input100" type="text" id="date" ng-model="Edit.date" placeholder="Enter new Date in dd/mm/yy foramt">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" >
                <span class="label-input100">New Start Point</span>
                <input class="input100" type="text" id="bib" ng-model="Edit.Bib" placeholder="Enter new Start Point">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input">
                <span class="label-input100">New Destination Point</span>
                <input class="input100" type="text" id="location" ng-model="Edit.Location" placeholder="Enter new Destination Point">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" >
                <span class="label-input100">New Type</span>
                <input class="input100" type="text" id="category" ng-model="Edit.Category" placeholder="Enter the new Type ">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input" >
                <span class="label-input100">Amount</span>
                <input class="input100" type="number" id="consumption" ng-model="Edit.Consumption" placeholder="Enter the new price ">
                <span class="focus-input100"></span>
            </div>


            <div class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div>
                    <button class="contact100-form-btn" type="submit">
									<span>
										Submit
										<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
									</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="ng-hide container" ng-model='claimmoneyrecord' id="claimmoneyrecord">
    <div class="card border-primary">

        <label>Search: <input ng-model="searchText"></label>
        <table id="searchTextResults">

            <div class="card-header text-white bg-danger">
                <span id="ALLRecord">All Record</span>
            </div>

            <div ng-repeat="daterecord in dates | filter:searchText">
                <div class="card border-warning mb-3">


                    <div class="card-header text-white bg-dark">{{daterecord.Date}}</div>

                    <div class="card-body text-dark">
						<p class="card-text">Bib Number : {{daterecord.Bib}}</p>
						<p class="card-text">Category : {{daterecord.Category}}</p>
						<p class="card-text">Money : $ {{daterecord.Consumption}}</p>
                        <p class="card-text">Location : {{daterecord.Location}}</p>
                        <p class="card-text">Weather : {{daterecord.Weather}}</p>
                        <p class="card-text">Temperature :{{daterecord.Temp}}</p>
                    </div>

                    <div class="row container">
                        <button class="col-6" data-id="{{daterecord._id}}" ng-click="delete($event)">Delete</button>
                        <button class="col-6" data-id="{{daterecord._id}}" ng-click="get($event)">Modify</button>
                    </div>



                </div>

            </div>

            <div class="cost container">
                <p class="card-text">Total costs : $ {{ getTotal() }}</p>
            </div>
    </div>
</div>







<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<script>
    $(".selection-2").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect1')
    });
</script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="testing1.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>

</body>
</html>
